body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(143, 19, 50);
}

.movie-list {
  /* background: #8B2635; */
  background-image: linear-gradient(180deg, rgb(143, 19, 50), rgba(185, 90, 12, 0.685));
  padding: 0.5rem 0;
}

.movie-card {
  /* background-color: #E0E2DB; */
  background-image: radial-gradient(circle, white, white, rgb(255, 255, 168));
  border: 0;
  box-shadow: 0 -1px 0 black, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem 7rem;
  text-align: center;
  border-radius: 20px;
  color: black;
  border: 3px solid black;
}

.movie-card h2 {
  color: rgb(143, 19, 50);
}


.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
}

.saved-active {
  color: rgb(143, 19, 50);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;

}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}
.save-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid grey;
  padding: 15px 20px;
  background-color: lightseagreen;
  border-radius: 10px;
}
.save-button:hover {
  background-color: green;
  color: white;
}

.home-button {
  padding: 15px 20px;
  background-color: lightskyblue;
  border-radius: 10px;
}

.home-button:hover {
  background-color: green;
  color: white;
}
